
files:
  "/usr/local/share/pycurl-7.43.0.tar.gz" :
    mode: "000644"
    owner: root
    group: root
    source: https://pypi.python.org/packages/source/p/pycurl/pycurl-7.43.0.tar.gz

packages:
  yum:
    libffi-devel: []
    openssl-devel: []
    libcurl-devel: []
    git: []
    gcc: []
    make: []
    cairo: []
    pango: []

commands:
  01_pip_upgrade:
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false

container_commands:
  02_pycurl_reinstall:
    command: 'source /opt/python/run/venv/bin/activate && pip install /usr/local/share/pycurl-7.43.0.tar.gz --global-option="--with-nss" --upgrade'
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
