
numpy
pandas
prompt-toolkit==2.0.5
jupyter
celery
pycurl
web-pdb

coverage
pillow
requests
weasyprint
python-magic
sentry-sdk

django
django-filter
django-nose
django-storages
django-extensions
django-cors-headers
pymongo
mongoengine
git+https://github.com/mongoengine/django-mongoengine.git@master

djangorestframework
djangorestframework-jwt
django-rest-framework-mongoengine
drf-extensions

boto3
pyfcm
paypalrestsdk
