{% extends 'email/base.html' %}

{% block content %}
{% load i18n %}
{% autoescape off %}
<div style="font-family: 'Quicksand', sans-serif; font-size: 20px;">
    <p style="font-family: 'Quicksand', sans-serif; font-size: 20px; margin: 25px 0px; padding: 0;">Para iniciar el proceso de cambio de contraseña en su cuenta de Asilinks {{ username }}, debe hacer clic en el siguiente vínculo:</p>
    <a href="{{ protocol }}://{{ domain }}/reset/?uid={{ uid }}&token={{ token }}" style="color: #FF5D60 !important; text-decoration: none; font-weight: bolder; background-color: #ffffff !important; border-radius: 4px; align-items: center; justify-content: center; margin: 20px 10px; padding: .8rem 2rem; border: none #ffffff;">Resetear Contraseña</a>
    <h5>Sinceramente, El equipo Asilinks</h5>
  </div>
{% endautoescape %}
{% endblock %}
